<!doctype html>
<html>
<head>
  <title>Airport</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="../src/Airport.js"></script>
  <script src="../src/Weather.js"></script>
  <script src="../src/Plane.js"></script>
  <script src="airportinterface.js"></script>
</head>
<body>
  <div>
    <h1>Airport</h1>
    planes here are <p id="hangar-space">10<p>
  </div>
  <button id="land" class="button">Land Plane</button>
  <button id="takeoff" class="button">fly Plane</button>
</body>
</html>
